flows_node/flows.json
[{"id":"d2dc923.458c67","type":"tab","label":"NAC4","disabled":false,"info":""},{"id":"3a02d27d.ad735e","type":"serial-port","serialport":"/dev/tnt1","serialbaud":"115200","databits":"8","parity":"none","stopbits":"1","waitfor":"","dtr":"none","rts":"none","cts":"none","dsr":"none","newline":"\\n","bin":"false","out":"char","addchar":"","responsetimeout":"10000"},{"id":"b00c44c1.5354f8","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"Century Gothic,CenturyGothic,AppleGothic,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#168388","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#097479","value":"#168388","edited":true},"page-titlebar-backgroundColor":{"value":"#168388","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#21c2ca","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#168388","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Estação meteorológica","hideToolbar":"false","allowSwipe":"false","lockMenu":"true","allowTempTheme":"false","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":10,"gy":10,"cx":10,"cy":10,"px":0,"py":0}}},{"id":"45eb2920.e856c8","type":"ui_group","name":"Vento","tab":"","order":6,"disp":false,"width":"6","collapse":false},{"id":"c7a8e166.dd714","type":"ui_group","name":"Temp","tab":"","order":3,"disp":false,"width":"6","collapse":false},{"id":"fe874ea6.1b9db","type":"ui_group","name":"Temp Min","tab":"","order":4,"disp":false,"width":"6","collapse":false},{"id":"dcfa88d7.c57a4","type":"ui_group","name":"Temp Max","tab":"","order":5,"disp":false,"width":"6","collapse":false},{"id":"a22b6fe1.0551c","type":"ui_group","name":"Sensacao Termica","tab":"","order":2,"disp":false,"width":"6","collapse":false},{"id":"73103994.1cdde","type":"ui_group","name":"Umidade Relativa","tab":"","order":7,"disp":false,"width":"6","collapse":false},{"id":"a1a031fe.4c2ea8","type":"ui_group","name":"NAC","tab":"4af84bb0.0994c4","order":1,"disp":false,"width":"6","collapse":false},{"id":"9944fa8e.670cf","type":"ui_group","name":"Vento","tab":"","order":6,"disp":false,"width":"6","collapse":false},{"id":"94a01f0d.89f7","type":"ui_group","name":"Temp","tab":"","order":3,"disp":false,"width":"6","collapse":false},{"id":"8e224b95.dd1ae8","type":"ui_group","name":"Temp Min","tab":"","order":4,"disp":false,"width":"6","collapse":false},{"id":"f9486654.3075c8","type":"ui_group","name":"Temp Max","tab":"","order":5,"disp":false,"width":"6","collapse":false},{"id":"5de10f57.eb0cd","type":"ui_group","name":"Sensacao Termica","tab":"","order":2,"disp":false,"width":"6","collapse":false},{"id":"8f8ecff.cc71cb","type":"ui_group","name":"Umidade Relativa","tab":"","order":7,"disp":false,"width":"6","collapse":false},{"id":"406f7f34.a83b6","type":"ui_group","name":"Titulo","tab":"","order":1,"disp":false,"width":"6","collapse":false},{"id":"a4c2f688.53c8e","type":"ui_group","name":"Arduino","tab":"","order":8,"disp":false,"width":"6","collapse":false},{"id":"fd5fa5d4.a71e78","type":"ui_group","name":"Arduino","tab":"","order":2,"disp":false,"width":"6","collapse":false},{"id":"4901c263.890b9c","type":"ui_group","name":"Desafio 3","tab":"","order":1,"disp":true,"width":"6","collapse":false},{"id":"d1441c39.6801e","type":"ui_group","name":"Desafio 4","tab":"","order":1,"disp":false,"width":"6","collapse":false},{"id":"37c0da71.80aea6","type":"ui_tab","name":"CHELLENG","icon":"dashboard","disabled":false,"hidden":false},{"id":"e86bd9db.d98be","type":"twitter-credentials","screen_name":"BiaKiil"},{"id":"934cac86.de0ae8","type":"mqtt-broker","name":"","broker":"broker.hivemq.com","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"4af84bb0.0994c4","type":"ui_tab","name":"NAC","icon":"dashboard","disabled":false,"hidden":false},{"id":"34772802.e9d788","type":"serial in","z":"d2dc923.458c67","name":"","serial":"3a02d27d.ad735e","x":80,"y":160,"wires":[["1d7756a1.6b8e09"]]},{"id":"1d7756a1.6b8e09","type":"json","z":"d2dc923.458c67","name":"","property":"payload","action":"","pretty":false,"x":210,"y":160,"wires":[["75cc1617.62c1d8","bfbc1620.442468","fc7114de.d0d68","9ca40ce6.c3b6b","abae35d4.1a6aa"]]},{"id":"75cc1617.62c1d8","type":"change","z":"d2dc923.458c67","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.temp","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":440,"y":240,"wires":[[]]},{"id":"442d15f8.7347cc","type":"mqtt out","z":"d2dc923.458c67","name":"","topic":"youngDevs/lux","qos":"","retain":"","broker":"934cac86.de0ae8","x":640,"y":180,"wires":[]},{"id":"bfbc1620.442468","type":"change","z":"d2dc923.458c67","name":"change lux","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.ValorLux","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":450,"y":180,"wires":[["442d15f8.7347cc"]]},{"id":"1389e84c.f2fa68","type":"mqtt out","z":"d2dc923.458c67","name":"","topic":"youngDevs/temp","qos":"","retain":"","broker":"934cac86.de0ae8","x":650,"y":120,"wires":[]},{"id":"fc7114de.d0d68","type":"change","z":"d2dc923.458c67","name":"change temp","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.temperatura","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":430,"y":120,"wires":[["1389e84c.f2fa68"]]},{"id":"d62dc053.54506","type":"mqtt in","z":"d2dc923.458c67","name":"","topic":"youngDevs/lux","qos":"2","datatype":"auto","broker":"934cac86.de0ae8","x":140,"y":420,"wires":[["9f7a79e2.9ecd8"]]},{"id":"606cb2d7.e527b4","type":"switch","z":"d2dc923.458c67","name":"","property":"payload","propertyType":"msg","rules":[{"t":"gte","v":"80","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":370,"y":360,"wires":[["c80c2a94.d12e78"]]},{"id":"c80c2a94.d12e78","type":"change","z":"d2dc923.458c67","name":"msg twetter","rules":[{"t":"set","p":"payload","pt":"msg","to":"A velocidade esta acima dos 80km.","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":520,"y":360,"wires":[["16851c4a.47aa4c"]]},{"id":"bc019594.ef72f","type":"mqtt in","z":"d2dc923.458c67","name":"","topic":"youngDevs/temp","qos":"2","datatype":"auto","broker":"934cac86.de0ae8","x":140,"y":480,"wires":[["cd9c10e2.c1a0d"]]},{"id":"9f7a79e2.9ecd8","type":"ui_text","z":"d2dc923.458c67","group":"a1a031fe.4c2ea8","order":0,"width":0,"height":0,"name":"","label":"LUX","format":"{{msg.payload}}","layout":"row-spread","x":360,"y":420,"wires":[]},{"id":"cd9c10e2.c1a0d","type":"ui_text","z":"d2dc923.458c67","group":"a1a031fe.4c2ea8","order":0,"width":0,"height":0,"name":"","label":"TEMPERATURA","format":"{{msg.payload}}","layout":"row-spread","x":370,"y":480,"wires":[]},{"id":"e229ca47.28b698","type":"mqtt in","z":"d2dc923.458c67","name":"","topic":"youngDevs/vel","qos":"2","datatype":"auto","broker":"934cac86.de0ae8","x":140,"y":540,"wires":[["b0daf640.564e5","606cb2d7.e527b4"]]},{"id":"b0daf640.564e5","type":"ui_text","z":"d2dc923.458c67","group":"a1a031fe.4c2ea8","order":0,"width":0,"height":0,"name":"","label":"VELOCIDADE","format":"{{msg.payload}}","layout":"row-spread","x":360,"y":540,"wires":[]},{"id":"abae35d4.1a6aa","type":"debug","z":"d2dc923.458c67","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":770,"y":240,"wires":[]},{"id":"aa63711a.4066d","type":"mqtt out","z":"d2dc923.458c67","name":"","topic":"youngDevs/vel","qos":"","retain":"","broker":"934cac86.de0ae8","x":640,"y":60,"wires":[]},{"id":"9ca40ce6.c3b6b","type":"change","z":"d2dc923.458c67","name":"change vel","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.vel","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":430,"y":60,"wires":[["aa63711a.4066d"]]},{"id":"16851c4a.47aa4c","type":"twitter out","z":"d2dc923.458c67","twitter":"e86bd9db.d98be","name":"Tweet","x":710,"y":360,"wires":[]}]